
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#left_navi_col{
  background-color: rgba(105, 159, 255, 0.5);
  color: #fff;
  height: 500px;
}

#main_navi_col{
  background-color: #efeeff;
  height: 500px;
}

#company_list{
  height: 450px;
  overflow-y: auto;
}