
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#left_navi_col{
  background-color: rgba(105, 159, 255, 0.5);
  color: #fff;
  height: 500px;
}

#main_navi_col{
  /* Gradient from http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(top, rgba(229,238,249,1) 0%, rgba(242,248,252,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(229,238,249,1) 0%,rgba(242,248,252,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(229,238,249,1) 0%,rgba(242,248,252,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 15px;
  height: auto;
}

#company_list{
  max-height: 450px;
  overflow-y: auto;
}